In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df=pd.read_excel(r"Desktop/rbd.xlsx")
df.head()

   Salesman  Schedule1   Schedule2  Schedule3
0         1          75         76         78
1         2          74         74         74
2         3          70         71         75
3         4          73         72         77
4         5          76         73         76

In [3]:
df1=df.drop(["Salesman"],axis=1)
df1.head()

   Schedule1   Schedule2  Schedule3
0          75         76         78
1          74         74         74
2          70         71         75
3          73         72         77
4          76         73         76

# ANOVA Test

In [9]:
data=pd.melt(df1.reset_index(),id_vars=["index"])#,value_vars=["Schedule1","Schedule2","Schedule3"])
data.columns=['index','treatments','value']

In [11]:
model=ols('value~C(treatments)',data=data).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

                 df     sum_sq   mean_sq         F    PR(>F)
C(treatments)   2.0  19.111111  9.555556  2.662539  0.102434
Residual       15.0  53.833333  3.588889       NaN       NaN

# RBD Test

In [16]:
data=pd.melt(df1.reset_index(),id_vars=["index"])#,value_vars=["Schedule1","Schedule2","Schedule3"])
data.columns=['blocks','treatments','value']

In [13]:
model=ols('value~C(blocks)+C(treatments)',data=data).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

                 df     sum_sq   mean_sq         F    PR(>F)
C(blocks)       5.0  34.277778  6.855556  3.505682  0.043290
C(treatments)   2.0  19.111111  9.555556  4.886364  0.033088
Residual       10.0  19.555556  1.955556       NaN       NaN